@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

:root {
  --bgWhite: #ffffff;
  --bgBlack: #000000;
  --titleBlack: #000000;
  --bg-primary: #2c3333;
  --bg-secondary: #395b64;
  --bg-tertiary: #a5c9ca;
  --bg-quaternary: #e7f6f2;

  --F10: clamp(0.625rem, 10vw * 100 / 1920, 1rem);
  --F12: clamp(0.75rem, 12vw * 100 / 1920, 1.2rem);
  --F14: clamp(0.875rem, 14vw * 100 / 1920, 1.4rem);
  --F16: clamp(1rem, 16vw * 100 / 1920, 1.6rem);
  --F18: clamp(1.125rem, 18vw * 100 / 1920, 1.8rem);
  --F20: clamp(1.25rem, 20vw * 100 / 1920, 2rem);
  --F22: clamp(1.375rem, 22vw * 100 / 1920, 2.2rem);
  --F24: clamp(1.5rem, 24vw * 100 / 1920, 2.4rem);
  --F26: clamp(1.625rem, 26vw * 100 / 1920, 2.6rem);
  --F28: clamp(1.75rem, 28vw * 100 / 1920, 2.8rem);
  --F30: clamp(1.875rem, 30vw * 100 / 1920, 3rem);
  --F40: clamp(2.5rem, 40vw * 100 / 1920, 4rem);
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  width: 100%;
  height: auto;
}
