.login-main {
  width: 100%;
  height: 100vh;
  background-color: var(--bg-quaternary);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.login-main .login-head {
  margin-bottom: 3%;
}
.login-main .login__heading {
  font-size: var(--F40);
  font-weight: 600;
  color: var(--bg-primary);
}
.login-main .login-card {
  width: clamp(500px, 50%, 900px);
  height: auto;
  background-color: var(--bgWhite);
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-main .login-card .login-card-left {
  width: 40%;
  height: auto;
}
.login-main .login-card .login-card-left .login-student__image {
  width: 100%;
  height: auto;
}
.login-main .login-card .login-card-left .login-student__image img {
  object-fit: cover;
}
.login-main .login-card .login-card-right {
  width: 60%;
  height: 100%;
}
.login-main .login-card .login-card-right .login-content {
  width: 100%;
  height: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login-main .login-card .login-card-right .login-content form {
  width: 100%;
}
.login-main
  .login-card
  .login-card-right
  .login-content
  .login-content__heading {
  font-size: var(--F40);
  color: var(--bg-secondary);
  margin-bottom: 5%;
}
.login-main .login-card .login-card-right .login-content .login-formcontrol {
  width: 100%;
  margin: 1rem 0;
}

.login-main
  .login-card
  .login-card-right
  .login-content
  .login-formcontrol
  label {
  font-size: var(--F16);
  color: var(--bg-secondary);
  margin-bottom: 10px;
  display: block;
  font-weight: 400;
}

.login-main
  .login-card
  .login-card-right
  .login-content
  .login-formcontrol
  input,
.login-main
  .login-card
  .login-card-right
  .login-content
  .login-formcontrol
  select {
  width: 100%;
  padding: 8px;
  border: 1px solid #cdcdcd;
  outline: none;
}
.login-actions {
  width: 100%;
  text-align: center;
  margin: 10% 0 0 0;
  display: block;
}
.login__error {
  font-size: var(--F10);
  color: tomato;
}
/* Dashboard */
.dashboard-main {
  width: 100%;
  height: calc(100vh - 70px);
  background-color: var(--bg-quaternary);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.dashboard-main .routing-btn-grp {
  width: 90vw;
  margin: 0 auto 1% auto;
  text-align: right;
}
.dashboard-main .dashboard-sub {
  width: 90vw;
  height: 78vh;
  background-color: var(--bgWhite);
  border-radius: 10px;
  padding: 2%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  position: relative;
}

.dashboard-overview {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 4% 0;
}
.dashboard-overview .overview-sub {
  flex: 1 1 auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.dashboard-overview .overview-sub .overview__image {
  width: 25%;
  height: auto;
}
.dashboard-overview .overview-sub .overview-des {
  margin-left: 3%;
}
.dashboard-overview .overview-sub .overview-des h1 {
  font-size: var(--F40);
  color: var(--bg-primary);
}
.dashboard-overview .overview-sub .overview-des h4 {
  font-size: var(--F20);
  color: var(--bg-secondary);
}
/* Table */
.marklist-table table {
  width: 100%;
  height: auto;
  margin-top: 2%;
  border-collapse: collapse;
}
.marklist-table table thead tr th,
.marklist-table table tbody tr td {
  font-size: var(--F16);
  font-weight: 500;
  color: var(--bg-primary);
  text-align: center;
}
.marklist-table table thead tr th:first-child,
.marklist-table table tbody tr td:first-child {
  text-align: left;
}
.marklist-table table thead tr th {
  padding: 10px;
  background-color: var(--bg-secondary);
  color: var(--bgWhite);
}
.marklist-table table tbody tr td {
  padding: 5px 10px;
  cursor: pointer;
}
.marklist-table table tbody tr:hover {
  background-color: var(--bg-quaternary);
}
.marklist-table .table-student .table-student-sub {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.marklist-table .table-student .table-student-sub .student__profilepic {
  width: 45px;
  height: auto;
}
.marklist-table .table-student .table-student-sub .student__det {
  margin-left: 2%;
}
.marklist-table .table-student .table-student-sub .student__det h5 {
  font-size: var(--F16);
  color: var(--bg-primary);
  font-weight: 500;
  margin-bottom: 5px;
}
.marklist-table .table-student .table-student-sub .student__det p {
  font-size: var(--F12);
  color: var(--bg-secondary);
}
.pagination-btns {
  width: 40%;
  margin-left: auto;
  margin-top: 1%;
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 3%;
  right: 3%;
}
.pagination-btns li {
  cursor: pointer;
  user-select: none;
  position: relative;
}
.pagination-btns li a {
  z-index: 3;
  position: relative;
}
.pagination-btns li.selected::before {
  content: "";
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--bg-secondary);
  z-index: 0;
}
.pagination-btns li.selected a {
  color: var(--bgWhite);
}
.pagination-btns li.disabled a {
  opacity: 0;
}

.grade {
  display: inline-block;
  position: relative;
}
.grade::after {
  content: "";
  width: 80px;
  height: 100%;
  display: block;
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%);
  background-color: red;
  z-index: 0;
  border-radius: 3px;
}
.grade p {
  position: relative;
  z-index: 3;
  color: var(--bgWhite);
}
.grade.excellent::after {
  background-color: #58b856;
}
.grade.verygood::after {
  background-color: #cfb833;
}
.grade.good::after {
  background-color: #46c7c7;
}
.grade.ok::after {
  background-color: #df8d30;
}
.grade.fairfail::after {
  background-color: #b92c2c;
}
.student-profile-overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.562);
  z-index: 9;
  display: flex;
  justify-content: center;
  align-items: center;
}
.student-profile-overlay .student-profile-card {
  width: clamp(500px, 50vw, 900px);
  height: auto;
  background-color: var(--bgWhite);
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.student-profile-overlay .student-profile-card .profile-card-left {
  width: 40%;
  height: 100%;
  position: relative;
}
.student-profile-overlay .student-profile-card .profile-card-left:after {
  content: "";
  width: 1px;
  height: 80%;
  background-color: #cdcdcd;
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
.student-profile-overlay .student-profile-card .profile-card-right {
  width: 60%;
  height: auto;
  padding: 2% 0% 2% 10%;
}
.student-profile-overlay
  .student-profile-card
  .profile-card-left
  .profile__img {
  width: 70%;
  height: auto;
  margin: 0 auto;
}
.student-profile-overlay
  .student-profile-card
  .profile-card-left
  .profile__name {
  text-align: center;
  font-size: var(--F40);
  color: var(--bg-primary);
}
.student-profile-overlay .student-profile-card .profile-card-left .profile-des {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 2%;
}
.student-profile-overlay
  .student-profile-card
  .profile-card-left
  .profile-des
  span {
  font-size: var(--F16);
  color: var(--bg-primary);
  font-weight: 500;
}
.student-profile-overlay
  .student-profile-card
  .profile-card-left
  .profile-des
  p {
  font-size: var(--F16);
  color: var(--bg-secondary);
  font-weight: 500;
}
.student-profile-overlay .student-profile-card .profile-card-right h4 {
  font-size: var(--F26);
  color: var(--bg-primary);
}
.student-profile-overlay
  .student-profile-card
  .profile-card-right
  .profile-marks {
  width: 90%;
  margin-top: 3%;
}
.student-profile-overlay
  .student-profile-card
  .profile-card-right
  .profile-marks
  tbody
  tr
  td {
  width: 50%;
  font-size: var(--F20);
  padding: 5px 0;
  color: var(--bg-primary);
}
.student-profile-overlay
  .student-profile-card
  .profile-card-right
  .profile-marks
  tbody
  tr
  td:last-child {
  text-align: right;
}

.student-profile-overlay
  .student-profile-card
  .profile-card-right
  .profile-marks
  tbody
  tr
  .end__mark {
  padding-bottom: 3%;
  border-bottom: 1px solid #e7e7e7;
}
.student-profile-overlay
  .student-profile-card
  .profile-card-right
  .profile-marks
  tbody
  tr
  .total__marks {
  padding-top: 3%;
}
.student-profile-overlay
  .student-profile-card
  .profile-card-right
  .profile-marks
  tbody
  tr
  :first-child {
  color: var(--bg-secondary);
}
